.load {
  width: 100vw;
  height: 100vh;
  background: rgb(52, 185, 229);
  padding-top: 20px;
  
}
.spin{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}